<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>SignUp form</h1>
    <form action="/user" method="POST">
        <p>Enter Your Name</p>
        <input type="text" name="name" id="" placeholder="Name" required>
        <p>Enter Email</p>
        <input type="email" name="email" id="" required>
        <p>Enter Password</p>
        <input type="password" name="password" id="" required>
        <p>Role</p>
        <!--<select name="role">
            <option value="ADMIN">Admin</option>
            <option value="NORMAL">Normal</option>
        </select>-->
        <button type="submit">Login</button>
    </form>
</body>

</html>